/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.four {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.four form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.five {
    display: flex;
    flex-direction: row;
    /*align-items: stretch;*/
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.five article {
    flex-basis: 250px;
    flex-grow: 1;
}